> Start by importing required tools/libraries
>
> - *matplotlib* for graphic plots
> - *pandas* for data reference with names

In [43]:
import matplotlib.pyplot as plt
import pandas as pd
import idapy as da

> To load data from *sklearn* dataset

In [44]:
from sklearn import datasets
#dir(datasets)

> Print built-in description from dataset

In [45]:
#print(datasets.load_diabetes().DESCR)

> Convert dataset to dataframe with variable names

In [46]:

test_data = pd.DataFrame(datasets.load_diabetes().data, columns=datasets.load_diabetes().feature_names)
test_target = pd.DataFrame(datasets.load_diabetes().target,columns=['prog'])
print(test_data.shape)
test_data

(442, 10)

       age    sex    bmi     bp     s1     s2     s3     s4     s5     s6
0    0.038  0.051  0.062  0.022 -0.044 -0.035 -0.043 -0.003  0.020 -0.018
1   -0.002 -0.045 -0.051 -0.026 -0.008 -0.019  0.074 -0.039 -0.068 -0.092
2    0.085  0.051  0.044 -0.006 -0.046 -0.034 -0.032 -0.003  0.003 -0.026
3   -0.089 -0.045 -0.012 -0.037  0.012  0.025 -0.036  0.034  0.023 -0.009
4    0.005 -0.045 -0.036  0.022  0.004  0.016  0.008 -0.003 -0.032 -0.047
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
437  0.042  0.051  0.020  0.060 -0.006 -0.003 -0.029 -0.003  0.031  0.007
438 -0.006  0.051 -0.016 -0.068  0.049  0.079 -0.029  0.034 -0.018  0.044
439  0.042  0.051 -0.016  0.017 -0.037 -0.014 -0.025 -0.011 -0.047  0.015
440 -0.045 -0.045  0.039  0.001  0.016  0.015 -0.029  0.027  0.045 -0.026
441 -0.045 -0.045 -0.073 -0.081  0.084  0.028  0.174 -0.039 -0.004  0.003

[442 rows x 10 columns]

In [47]:
da.describe(test_data)

AttributeError: module 'idapy' has no attribute 'describe'